" Plugins
Plug 'nerdtree'

let mapleader=" "

set showmode
" Display line numbers + relative mode
set nu
set rnu

" Search
set hlsearch
set incsearch
set ignorecase
set smartcase
set visualbell

set ruler

" allow to use system clipboard and vise versa
set clipboard+=unnamed
set clipboard+=ideaput

" Enable which-key if you use it
set which-key
set notimeout
" set ideamarks

set foldenable
set foldmethod=syntax

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" edit and reload this file in intellij
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" Vim specific
" Clear highlights
nnoremap <c-l> :noh<CR>

""" InteliJ Mapping

" UI features

" Toggle Status ViewStatusBar
nnoremap <leader>ts :action ViewStatusBar<CR>
" Toggle Compact Mode
nnoremap <leader>tc :action ToggleCompactMode<CR>
"" Toggle DistractionFree mode
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
"" Hide all windows
nnoremap <leader>x :action HideAllWindows<CR>

sethandler <c-r> a:vim
nnoremap <c-r> :action RecentFiles<CR>

" Editor / Code

"" Formatting
""" Don't use Ex mode, use Q for formatting.
map Q gq

" Fold/Unfold methods and classes
"nnoremap za :action ExpandCollapseToggle<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zR :action ExpandAllRegions<CR>
nnoremap zM :action CollapseAllRegions<CR>
"nnoremap zj :action NextFoldingSection<CR>
"nnoremap zk :action PreviousFoldingSection<CR>

" LSP bindings
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap K :action QuickJavaDoc<CR>
sethandler <c-k> a:vim
inoremap <C-k> :action ParameterInfo<CR>
sethandler <c-p> a:vim
nnoremap <C-p> :action ParameterInfo<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap <leader>q :action ActivateProblemsViewToolWindow<CR>

" LSP Scala
nnoremap <leader>si :action Scala.ShowImplicits<CR>

"" Refactoring
""" e - extract
"""     v - into variable
"""     m - into method
"""     c - into constant
"""     p - into parameter
nnoremap <leader>ev :action IntroduceVariable<CR>
vnoremap <leader>ev :action IntroduceVariable<CR>
nnoremap <leader>em :action ExtractMethod<CR>
vnoremap <leader>em :action ExtractMethod<CR>
nnoremap <leader>ef :action ExtractFunction<CR>
vnoremap <leader>ef :action ExtractFunction<CR>
nnoremap <leader>ep :action IntroduceParameter<CR>
vnoremap <leader>ep :action IntroduceParameter<CR>

" nnoremap gf :action
" Cmd + o
" nnoremap gc :action GotoClass<CR>
" Cmd + a
"nnoremap ga :action GotoAction<CR>
"nnoremap gs :action GotToSuperMethod<CR>
nnoremap gm :action FileStructurePopup<CR>

"use <c-i> instead of nnoremap [ :action Back<CR>
"use <c-o> instead of nnoremap ] :action Forward<CR>

"" Go To
""" e - next error
""" E - prev error
""" d - method/class declaration
""" i - interface/trait implementation
""" t - test
nnoremap gt :action GotoTest<CR>
nnoremap gu :action GotoNextElementUnderCaretUsage<CR>
nnoremap gU :action GotoPrevElementUnderCaretUsage<CR>
nnoremap gb :action Blaze.OpenCorrespondingBuildFile<CR>
" gc - Go to Class declaration
nnoremap gc gg/class<CR>:noh<CR>
nnoremap <leader>rr :action Rerun<CR>
nnoremap <leader>gs :action Unscramble<CR>

"" Bazel 
nnoremap <leader>bs :action Blaze.PartialSync<CR>

"" Move between methods with Ctl pressed
nnoremap gk :action MethodUp<CR>
nnoremap gj :action MethodDown<CR>

nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fb :action Switcher<CR>
nnoremap <leader>sf :action SelectInProjectView<CR>

"" Windows Splits
""" to move between split use <c-w> + [hjkl]
nnoremap <C-h> :action PreviousTab<CR>
nnoremap <C-l> :action NextTab<CR>
nnoremap <C-=> :action Unsplit<CR>
nnoremap <C-\> :action SplitVertically<CR>
nnoremap <C--> :action SplitHorizontally<CR>
"" <c-[s]> - swap
nnoremap <c-s> :action MoveEditorToOppositeTabGroup<CR>

"" Find / Searching pop-up
nnoremap <leader>sa :action SearchEverywhere<CR>

"" VCS Actions
""" v - version control
"""     n - new branch
"""     b - list branches
"""     a - annotate
"""     r - rollback changes
nnoremap <leader>v :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>vn :action GitNewBranchAction<CR>
nnoremap <leader>vb :action Git.Branches<CR>
nnoremap <leader>va :action Annotate<CR>
nnoremap <leader>vr :action Vcs.RollbackChangedLines<CR>
nnoremap <leader>vh :action Vcs.ShowTabbedFileHistory<CR>
"" Pull Requests
nnoremap <leader>vp :action ActivatePullRequestsToolWindow<CR>

""" In diff window to go over next and prev diffs
""" This doesn't work ok like F7 + Shift-F7
nnoremap <A-k> :action PreviousDiff<CR>
nnoremap <A-j> :action NextDiff<CR>

"" Commit window
""" Cmd + 0

"" Toggle Project View
"" Cmd + 1

"" Toggle Terminal View
""" Cmd + 8

" Markdown org-md
"" Create a link
""" Markdown.Styling.CreateLink
"" headers
""" org.intellij.plugins.markdown.ui.actions.styling.HeaderDownAction
""" org.intellij.plugins.markdown.ui.actions.styling.HeaderUpAction
