*.tmp
*/.config/*/extra
*/.config/*/thelast
.DS_Store
raycast

# nix build result
result

# Ignore everything in Pi config dir...
pi/.pi-wix/*
pi/.pi-personal/*

# ...then explicitly keep only hand-written config
!pi/.pi-wix/keybindings.json
!pi/.pi-personal/keybindings.json
!pi/.pi-wix/settings.json
!pi/.pi-personal/settings.json
!pi/.pi-personal/models.json

