" Plugins
Plug 'nerdtree'

let mapleader=" "

set showmode
" Display line numbers + relative mode
set nu
set rnu
" Search
set hlsearch
set incsearch
set ignorecase
set smartcase
set visualbell

set ruler

" allow to use system clipboard and vise versa
set clipboard+=unnamed
set clipboard+=ideaput

" set ideamarks

" edit and reload this file in intellij
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>


nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>

sethandler <c-r> a:vim
nnoremap <c-r> :action RecentFiles<CR>

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Editor / Code

"" Formatting
""" Don't use Ex mode, use Q for formatting.
map Q gq

" Vim specific
nnoremap <c-l> :noh<CR>


" Fold/Unfold methods and classes
nnoremap zo :action ExpandRegion<CR>
nnoremap zO :action ExpandAllRegions<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zC :action CollapseAllRegions<CR>

"" Refactoring
""" r - rename
nnoremap <leader>r :action RenameElement<CR>
""" e - extract
"""     v - into variable
"""     m - into method
"""     c - into constant
nnoremap <leader>ev :action IntroduceVariable<CR>
vnoremap <leader>ev :action IntroduceVariable<CR>
nnoremap <leader>em :action ExtractMethod<CR>
vnoremap <leader>em :action ExtractMethod<CR>
nnoremap <leader>ef :action ExtractFunction<CR>
vnoremap <leader>ef :action ExtractFunction<CR>

"use <c-i> instead of nnoremap [ :action Back<CR>
"use <c-o> instead of nnoremap ] :action Forward<CR>

"" Go To
""" e - next error
""" E - prev error
""" d - method/class declaration
""" i - interface/trait implementation
""" t - test
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gu :action GotoNextElementUnderCaretUsage<CR>
nnoremap gU :action GotoPrevElementUnderCaretUsage<CR>
"" Move between methods with Ctl pressed
nnoremap gk :action MethodUp<CR>
nnoremap gj :action MethodDown<CR>

"" Bookmarks
""" b - bookmarks
"""     s - set / unset
"""     l - list bookmarks
nnoremap <leader>bs :action ToggleBookmark<CR>
nnoremap <leader>bl :action ShowBookmarks<CR>

" UI Idea Views
" --------------------------------------------
"" Windows Splits
""" to move between split use <c-w> + [hjkl]
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-s> :action MoveEditorToOppositeTabGroup<CR>

"" Find / Searching pop-up
nnoremap <leader>/ :action SearchEverywhere<CR>
" nnoremap gf :action
" Cmd + o
nnoremap gc :action GotoClass<CR>
" Cmd + a
nnoremap ga :action GotoAction<CR>

nnoremap gs :action GotToSuperMethod<CR>
nnoremap gm :action FileStructurePopup<CR>

"" Class Hierarchy View
nnoremap <leader>ch :action FileStructurePopup<CR>
"" Find View
nnoremap <leader>fu :action FindUsages<CR>

"" VCS Actions
""" v - version control
"""     n - new branch
"""     b - list branches
"""     a - annotate
"""     r - rollback changes
nnoremap <leader>v :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>vn :action GitNewBranchAction<CR>
nnoremap <leader>vb :action Git.Branches<CR>
nnoremap <leader>va :action Annotate<CR>
nnoremap <leader>vr :action Vcs.RollbackChangedLines<CR>
nnoremap <leader>vh :action Vcs.ShowTabbedFileHistory<CR>
"" Pull Requests
nnoremap <leader>vp :action ActivatePullRequestsToolWindow<CR>

""" In diff window to go over next and prev diffs
""" This doesn't work ok like F7 + Shift-F7
nnoremap <A-k> :action PreviousDiff<CR>
nnoremap <A-j> :action NextDiff<CR>

"" Commit window
""" Cmd + 0

"" Open Project View
""" [n]avigation [t]ree
nnoremap <leader>n :action NERDTree<CR>
nnoremap <leader>nt :action SelectInProjectView<CR>
"" Toggle Project View
"" Cmd + 1

"" Toggle Terminal View
""" Cmd + 8

" Idea goodies
" --------------------------------
"" Toggle DistractionFree mode
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
"" Hide all windows
nnoremap <leader>x :action HideAllWindows<CR>

" Markdown org-md
"" Create a link
""" Markdown.Styling.CreateLink
"" headers
""" org.intellij.plugins.markdown.ui.actions.styling.HeaderDownAction
""" org.intellij.plugins.markdown.ui.actions.styling.HeaderUpAction

